

@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Checkout Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th> Total Amount To Pay </th>
        </tr>
        <tr>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <a asp-controller="Checkout" asp-action="Confirm" class="btn">Confirm</a>
</body>
</html>
